<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="myUser" ng-controller="UserController">
<form>

                  
                      <span class="section">Personal Info</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input   ng-model="users.username" name="username"  required="required" type="text">
                             <div class="error"></div>
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email" name="email" ng-model="users.email" >
                             <div class="error"></div>
                        </div>
                      </div>
                 
                
                      <div class="item form-group">
                        <label for="password" class="control-label col-md-3">Mot de passe</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password" type="password" name="password"  ng-model="user.password" required="required">
                          <div class="error"></div>
                        </div>
                      </div>
                  
                
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button  class="btn btn-primary">Cancel</button>
                          <button  class="btn btn-success" ng-click="addUser()">Submit</button>
                        </div>
                      </div>
                      </form>
                      	<script type="text/javascript" src="js/user.js"></script>

</body>

</html>