<meta charset="UTF-8" />
<form>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="table-responsive">
				<div>
					<form>
						<table width="100%">
							<tr>
								<td width="70%">
									<table width="100%">
										<tr>
											<div class="row">
												<td><label>Du</label></td>
												<td>
													<div class="input-group input-append date" id="dp1"
														data-date="dd/mm/yyyy">
														<input class="form-control" type="text"
															ng-model="dateDebut" id="dateDebut" name="dateDebut" />
														<span class="input-group-addon add-on"><i
															class="icon-calendar"></i></span>
													</div>
												</td>
											<td><label>Au</label></td>
											<td>
												<div class="input-group input-append date" id="dp3"
													data-date="dd/mm/yyyy">
													<input class="form-control" type="text" id="dateFin"
														ng-model="dateFin" /> <span
														class="input-group-addon add-on"><i
														class="icon-calendar"></i></span>
												</div>
											</td>
										</tr>

										<tr>
											<td><label>Num Carte</label></td>
											<td>
												<div class="input-group input-append date">
													<input class="form-control" type="text" id="numCarte"
														ng-model="numCarte" />
												</div>
											</td>
											<td><label>GAB</label></td>
											<td>
												<div class="input-group input-append date">
													<input class="form-control" type="text" ng-model="terminal"
														id="terminal" />
												</div>
											</td>
										</tr>

										<tr>
											<td><label>Num Seq</label></td>
											<td>
												<div class="input-group input-append date">
													<input class="form-control" type="text" id="NumSeq"
														ng-model="NumSeq" />
												</div>
											</td>
											<td><label>Code Authorisation</label></td>
											<td>
												<div class="input-group input-append date">
													<input class="form-control" type="text"
														id="codeTransaction" ng-model="codeTransaction" />
												</div>
											</td>
										</tr>

									</table>
								</td>
								<td align="center" width="30%">Nombre des Transactions : {{
									totaleOperation }}<br> Total : {{ somme  | numberFilter }} TND<br> <br>
									<button class="btn btn-primary" ng-click="charger()">Chercher</button>
								</td>
							</tr>

						</table>
					</form>
				</div>
				<br> <br>
			</div>
		</div>
	</div>
</div>
</form>